<div class="card my-5">
    <div class="card-img" style="background-image: url({{mainNews.cardImg}});">
    </div>
    <div class="card-body">
        <h5>{{mainNews.cardAuthor}} - {{mainNews.cardDate}}</h5>
        <a href=""class="text-dark title">
            <h2 class="align-text-center">
                {{mainNews.cardTitle}}
                <mat-icon class="icon" fontIcon="north_east"></mat-icon>
            </h2> 
        </a>
        <p class="card-text">
            {{mainNews.cardText}}
        </p>
        <div class="">
            <a *ngFor="let key of mainNews.cardKeys" href="" class="btn btn-outline-dark btn-sm m-1">
                {{key}}
            </a>
        </div>
    </div>
</div>