<div class="card">
    <div>
        <img [src]="cardImg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5>{{cardAuthor}} - {{cardDate}}</h5>
        <a href=""class="text-dark title">
            <h2 class="align-text-center">
                {{cardTitle}}
                <mat-icon class="icon" fontIcon="north_east"></mat-icon>
            </h2> 
        </a>
        <p class="card-text">
            {{cardText}}
        </p>
        <div class="">
            <a *ngFor="let key of cardKeys" href="" class="btn btn-outline-dark btn-sm m-1">
                {{key}}
            </a>
        </div>
    </div>
</div>